body {
    background-color: #281111;
}


.main {
    margin: 30px auto;
    width: 787px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: black;
    padding: 45px;


}

.box {
    width: calc(28%);
    margin: 20px 20px;
    background-color: #fff6f6;
    cursor: pointer;
    color: #bc1212;
    text-align: center;
    line-height: 130px;


}


.blue {
    background-color: #1fb5b7;
}

.scaleX {
    transform: scaleX(1);
    transition: transform 5s ease;

}

.box:hover .scaleX {
    transform: scaleX(2);

}

.red {
    background-color: #bc8c12;
}

.scaleY {
    transform: scaleY(1);
    transition: transform 5s ease;

}

.box:hover .scaleY {
    transform: scaleY(1.5);
}


.green {
    background-color: #0fcf3f;
}

.scale {
    transform: scale(1, 1);
    transition: 5s ease;
}

.box:hover .scale {

    transform: scale(1.3, 1.3);
}


.translateX {
    transform: translateX(1);
    transition: transform 5s ease;
}

.box:hover .translateX {
    transform: translateX(2em);
}

.translateY {

    transition: transform 5s ease;
}

.box:hover .translateY {
    transform: translateY(2em);
}

.translate {
    transition: 5s ease;
}

.box:hover .translate {
    transform: translate(2em, 2em);
}


.small {

    width: 787px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: black;

}


.matrix {

    transition: 5s ease;
}

.box:hover .matrix {
    transform: matrix(1, -1, 0, 1, 0, 0);
}

.rotate {
    transition: 5s ease;
}

.box:hover .rotate {
    transform: rotate(360deg);

}


.skewX {
    transition: 5s ease;
}

.box:hover .skewX {
    transform: skewX(30deg);
}

.skewY {
    transition: 5s ease;
}

.box:hover .skewY {
    transform: skewY(30deg);
}

.skew {
    transition: 5s ease;
}

.box:hover .skew {
    transform: skew(30deg, 20deg);
}


.matrix3d {
    transform: matrix3d(1);
    transition: 5s ease;
}

.box:hover .matrix3d {
    transform: matrix3d(0.85, 0.49, 0.14, 0,
            -0.49, 0.70, 0.49, 0,
            0.14, -0.49, 0.85, 0,
            22, -20.32, 101, 1);
}

/* 
.translate3d{
    transform: translate3d(1px,1px,1);
    transition: transform 5s ease;
}
.box:hover .translate3d{
    transform: translate3d(1px,1px,50px);
} */
.translate3d {
    transform: translate3d(1px, 1px, 1px);
    transition: transform 5s ease;
}

.box:hover .translate3d {
    transform: rotate3d(3, 2, 2, 100deg);

}

.rotateY {

    transition: transform 5s ease;
}

.box:hover .rotateY {
    transform: perspective(500px) scaleZ(1) rotateY(360deg);
}


.rotateX {

    transition: transform 5s ease;
}

.box:hover .rotateX {
    transform: perspective(500px) scaleZ(2) rotateX(360deg);

}

.translateZ {
    transform: translateZ(1px);
    transition: transform 8s ease;
}

.box:hover .translateZ {
    transform: rotate3d(3, 2, 2, 90deg) translateZ(50px);

}