
        body {

            background-color: black;
            margin: 0;
          

        }

        #header {
            text-align: center;
            background-color: aqua;
            color: blue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 30px;
             height: 100px;
            width: 100%;
        }
       

        .wel {
            background-color: aqua;
        }

        .red {
            color: blue;
        }

        .details {
            color: rgb(177, 10, 10);
            text-align: center;
            margin-top: 20px;
            border: 3px solid black;
            font-size: 20px;
            



        }

        .new {

            color: azure;
            font-size: 18px;

        }

        .nom {
            height: 500px;
        }